In [2]:
import pandas as pd
df = pd.read_csv('D:\Book_Market_Insights\data\Books_Data_Clean.csv') # Adjust filename
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

   index  Publishing Year                        Book Name  \
0      0           1975.0                          Beowulf
1      1           1987.0                 Batman: Year One
2      2           2015.0                Go Set a Watchman
3      3           2008.0  When You Are Engulfed in Flames
4      4           2011.0         Daughter of Smoke & Bone

                                              Author language_code  \
0                             Unknown, Seamus Heaney         en-US
1  Frank Miller, David Mazzucchelli, Richmond Lew...           eng
2                                         Harper Lee           eng
3                                      David Sedaris         en-US
4                                       Laini Taylor           eng

  Author_Rating  Book_average_rating  Book_ratings_count          genre  \
0        Novice                 3.42              155903  genre fiction
1  Intermediate                 4.23              145267  genre fiction
2        Novice                 3.31              138669  genre fiction
3  Intermediate                 4.04              150898        fiction
4  Intermediate                 4.04              198283  genre fiction

   gross sales  publisher revenue  sale price  sales rank  \
0      34160.0            20496.0        4.88           1
1      12437.5             7462.5        1.99           2
2      47795.0            28677.0        8.69           3
3      41250.0            24750.0        7.50           3
4      37952.5            22771.5        7.99           4

                       Publisher   units sold
0        HarperCollins Publishers        7000
1        HarperCollins Publishers        6250
2  Amazon Digital Services,  Inc.        5500
3             Hachette Book Group        5500
4         Penguin Group (USA) LLC        4750
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   float64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(5), int64(4), object(6)
memory usage: 125.5+ KB
None
             index  Publishing Year  Book_average_rating  Book_ratings_count  \
count  1070.000000      1069.000000          1070.000000         1070.000000
mean    534.500000      1971.377923             4.007000        94909.913084
std     309.026698       185.080257             0.247244        31513.242518
min       0.000000      -560.000000             2.970000        27308.000000
25%     267.250000      1985.000000             3.850000        70398.000000
50%     534.500000      2003.000000             4.015000        89309.000000
75%     801.750000      2010.000000             4.170000       113906.500000
max    1069.000000      2016.000000             4.770000       206792.000000

        gross sales  publisher revenue   sale price   sales rank    units sold
count   1070.000000        1070.000000  1070.000000  1070.000000   1070.000000
mean    1856.622944         843.281030     4.869561   611.652336   9676.980374
std     3936.924240        2257.596743     3.559919   369.849830  15370.571306
min      104.940000           0.000000     0.990000     1.000000    106.000000
25%      372.465000           0.000000     1.990000   287.500000    551.250000
50%      809.745000         273.078000     3.990000   595.500000   3924.000000
75%     1487.957500         721.180500     6.990000   932.500000   5312.250000
max    47795.000000       28677.000000    33.860000  1273.000000  61560.000000
index                   0
Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64